Artifacts
Resources/TestCoverageBadges/**
!Resources/TestCoverageBadges/badge_shieldsio_linecoverage_blue.svg
Reference/ReferenceContent/api/**
Resources/DependentCodeUnits
Resources/Constants
Resources/OpenAPIGenerator
!Reference/ReferenceContent/api/index.md