<app-frame-work>
  <app-user-area-container>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
      <mat-tab i18n-label="@@tab_latest_documents" label="Latest documents">
        <app-document-table [documents$]="latestDocuments$" (documentRemoved)="onDocumentRemoved($event)"></app-document-table>
      </mat-tab>
      <mat-tab i18n-label="@@tab_all_documents" label="All documents">
        <app-content-tree></app-content-tree>
      </mat-tab>
      <mat-tab i18n-label="@@tab_search" label="Search">
        <app-search></app-search>
      </mat-tab>
    </mat-tab-group>
  </app-user-area-container>
</app-frame-work>