.link {
  cursor: pointer;
}

.ai-summary-short-hint {
  color: var(--mat-sys-on-surface-variant);
  font-size: 0.75em;
  margin-top: 0.2em;
}

.col-id {
  width: 5%;
}

.col-preview {
  width: 10%;
}

.col-name {
  width: 61%;
}

.col-importdate {
  width: 12%;
}

.col-lasteditdate {
  width: 12%;
}

.col-options {
  width: 10%;
}
