<app-frame-work>
    <app-user-area-container>
        <p>
            Document meta-data:<br />
            Title: {{doc?.title}}<br />
            ID: {{doc?.readableId}}<br />
            Technical ID: {{doc?.id}}<br />
            Filename: {{doc?.filename}}<br />
            Original filename: {{doc?.originalFilename}}<br />
            Import-date: {{doc?.importDate}}<br />
            Last edit-date: {{(doc?.lastEditDate) ? doc!.lastEditDate : '(not available)'}}<br />
            Tags: {{'{'}}{{(doc?.tags && 0
            < doc?.tags!.size) ? formatTags(doc?.tags!):' '}}{{' }'}}<br />
        </p>
        <app-document-preview *ngIf="documentPreview" [documentPreview]="documentPreview"></app-document-preview>
        <app-edit-document-menu [documentPreview]="documentPreview"
            (documentRemoved)="onDocumentRemoved()"></app-edit-document-menu>
    </app-user-area-container>
</app-frame-work>
