<button mat-button color="primary" (click)="addFolder()" [disabled]="!userIsAllowedToAddDocument">
    <mat-icon>create_new_folder</mat-icon>
</button>

<button mat-button color="primary" (click)="uploadFile.click()" [disabled]="!userIsAllowedToAddFolder">
    <mat-icon>post_add</mat-icon>
</button>

<input #uploadFile (change)="addDocument($event)" type='file' style="display:none" />

<button mat-button (click)="edit()">
    <mat-icon>edit</mat-icon>
</button>

<button mat-button (click)="removeContainer()">
    <mat-icon>delete</mat-icon>
</button>
