<form [formGroup]="form" (ngSubmit)="login()">

    <mat-form-field>
        <mat-label i18n="@@username">Username</mat-label>
        <input type="text" matInput placeholder="Example: johndoe" i18n-placeholder="@@login_username_placeholder" formControlName="username">
    </mat-form-field>

    <br />

    <mat-form-field>
        <mat-label i18n="@@password">Password</mat-label>
        <input type="password" matInput formControlName="password">
    </mat-form-field>

    <br />

    <button mat-flat-button i18n="@@login_button">Login</button>

</form>

<ng-container *ngIf="oidcProviders.length > 0">
    <hr />

    <mat-form-field>
        <mat-label i18n="@@oidc_provider_label">Login with</mat-label>
        <mat-select [(value)]="selectedProviderId">
            <mat-option *ngFor="let provider of oidcProviders" [value]="provider.id">
                {{ provider.displayName }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <br />

    <button mat-flat-button type="button" [disabled]="!selectedProviderId" (click)="loginWithOidc()" i18n="@@oidc_login_button">Login with selected provider</button>
</ng-container>
