<section class="layout">
    <div class="sidebar">
        <div class="drawer">
            Admin-menu:<br />
            <button mat-button [disabled]="false" (click)="onUserAreaClick()">{{getSiteTitle("user")}}</button>
            <button mat-button [disabled]="activeSite=='Dashboard'"
                (click)="onDashboardClick()">{{getSiteTitle("dashboard")}}</button>
            <button mat-button [disabled]="activeSite=='Users'"
                (click)="onUsersClick()">{{getSiteTitle("users")}}</button>
            <button mat-button [disabled]="activeSite=='Settings'"
                (click)="onSettingsClick()">{{getSiteTitle("settings")}}</button>
        </div>
    </div>
    <div class="body">
        <div class="header">
            <h1>{{activeSite}}</h1>
        </div>
        <mat-divider></mat-divider>
        <div>
            <ng-content></ng-content>
        </div>
    </div>
</section>
