Artifacts
Resources/TestCoverageBadges/**
!Resources/TestCoverageBadges/badge_shieldsio_linecoverage_blue.svg
Reference/ReferenceContent/API/**
!Reference/ReferenceContent/API/index.md
Reference/obj
Resources/DependentCodeUnits
Resources/Constants/CodeUnitDescription.*
Resources/Constants/CodeUnitName.*
Resources/Constants/CodeUnitVersion.*
Resources/Constants/CodeUnitMajorVersion.*
Resources/Constants/CommitDate.*
Resources/Constants/CommitId.*
Resources/Constants/DevelopmentCertificatePasswordHex.*
Resources/Constants/DevelopmentCertificatePFXHex.*
Resources/NonProductiveCertificate
Resources/CodeAnalysisResult/*.sarif
Resources/CA
Resources/DevelopmentCertificate
Resources/GRYLibrary
Resources/OCRData
Workspace
